.admin_header {
  width: 100%;
  padding: 30px 0px;
}

.admin_nav-top {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  background: var(--primary-color);
}

.admin_nav-wrapper-top {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
}

.admin_nav-top-right img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.admin_nav-top-right {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.admin_nav-wrapper-top .search_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_nav-top-right span i {
  color: whitesmoke;
  cursor: pointer;
}

.admin_nav-wrapper-top .logo h2 {
  font-size: 1.2rem;
  color: whitesmoke;
}

.admin_sidebar {
  width: 250px;
  height: 110.3vh;
  background: var(--card-bg-02);
  position: absolute;
  top: 134px; /* Adjust this value if the header height changes */

  left: 0;
  padding-top: 20px;
}

.admin_sidebar .admin_menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  gap: 3rem;
}

.admin_menu-list .admin_menu-item a {
  color: var(--primary-color);
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  text-align: left;
}

.admin_menu-list .admin_menu-item a.active_admin-menu {
  background: whitesmoke;
}

.admin_content {
  margin-left: 250px;
  padding: 20px;
  margin-top: -80px; /* Adjust this value if the header height changes */
}
